body{
    background-color: rgb(234, 236, 209);
    color:#163e57;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color:#191970;
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.job-title {
    background-color: #d9cfdb;
    color:#231091;
    font-size: 20px;
    font-weight: bold;
    padding: 5px 10px 5px 10px;
}

#high {
    color:#237add;
    font-size: 20px;
}

ul {
    background-color:#96969e;
    color:#4b4747;
    padding: 10px;
}